USE [DB_48163_nwpa]
GO
/****** Object:  StoredProcedure [dbo].[ProductNoStock]    Script Date: 7/16/2025 2:34:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
Author:		 George R Hepworth
Create date: 4/22/2025
Description: Check Product for no stock status
=============================================
*/
ALTER PROCEDURE  [dbo].[ProductNoStock] 
	@ProductID as Int = 0,

	@LocalID as int OUTPUT,
	@LocalProductNoStock as int OUTPUT, 
	@LocalErrorCode AS int = 0 OUTPUT,
	@LocalMessage AS nvarchar(400) = 'Added' OUTPUT
AS
BEGIN
		SET NOCOUNT ON;
		BEGIN Try
			SELECT @LocalProductNoStock = IsNull(Sum(Quantity),0)
			FROM OrderDetails 
			WHERE ProductID = @ProductID AND 
				OrderDetailStatusID = 4; -- No Stock

			SET @LocalID = @ProductID;
			SET	@LocalErrorCode = 0 ;
			SET	@LocalMessage  = 'Product NoStock amount'; 
		End Try
		BEGIN Catch
			SET @LocalProductNoStock= 0;
			SET @LocalID = @ProductID;
			SET @LocalErrorCode = ERROR_NUMBER();
			SET @LocalMessage = ERROR_MESSAGE();
		END Catch
END
