USE [DB_48163_nwpa]
GO
/****** Object:  StoredProcedure [dbo].[ProductAvailable]    Script Date: 7/17/2025 6:25:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
Author:		 George Hepworth
Create date: 03/17/2025
Description: Check Stock Level of Products 
			   for POs and Orders
=============================================
*/
ALTER     PROCEDURE [dbo].[ProductAvailable]
	@ProductID AS Int,
	@CurrentOrder as Int=0,
	@LastStockTakeQOH as Int OUTPUT,
	@ProductBoughtSinceLastStockTake As Int OUTPUT,
	@ProductSold As Int OUTPUT,
	@LocalProductAvailableToSell As Int OUTPUT,
	@AvailableProductID As Int = 0 OUTPUT,
	@LocalErrorCode AS int = 0 OUTPUT,
	@LocalMessage AS nvarchar(400) = 'Success' OUTPUT 
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN Try
		Declare 
			@LocalProductSold as int,
			@LocalProductBought as int,
			@LocalID as int,
			@LocalAllocatedProduct as int,
			@ErrorCode as INT,
			@Message as NVarChar(400),
			@CustomErrorCode as int,
			@CustomErrorMessage as NVarChar(400);
		Set @AvailableProductID = @ProductID;

		--Newly added products may or may not be in a stocktake yet.
		--AddNewProductToStockTake adds a stocktake for it, if neccessary.
		BEGIN
		Exec dbo.AddNewProductToStockTake
			@ProductID =@ProductID,
			@LocalID = @LocalID OUTPUT,
			@ErrorCode = @ErrorCode OUTPUT,
			@Message = @Message OUTPUT
			SET @LocalErrorCode = Cast(IsNull(@ErrorCode,0) as NVarChar(40));
			SET @LocalMessage = Isnull(@Message,'StockTake Created For ProductID ' 
			+ Cast(@ProductID AS nvarchar(10))) ;
		END
		--ProductAvailable is used by multiple parent SPs for different purposes
		--Calculate ProductLastStockTakeDateQOH for each because some parent SPs do not provide these values
		EXEC dbo.ProductLastStockTakeDateQOH
			@ProductID =@ProductID,
			@LastStockTakeQOH =@LastStockTakeQOH OUTPUT,			 
			@LocalErrorCode = @LocalErrorCode OUTPUT,
			@LocalMessage = @LocalMessage OUTPUT;
			SET @LastStockTakeQOH= Isnull(@LastStockTakeQOH,0);
			SET @LocalErrorCode = @LocalErrorCode + ' ' + Cast(@LocalErrorCode as Nvarchar(40));
			SET @LocalMessage =  @LocalMessage + '; '+  IsNull(@LocalMessage,' Last StockTake Date ');
		EXEC [dbo].[ProductSoldSinceLastStockTake]
			@ProductID = @ProductID,
	
			@LocalID =@LocalID,
			@ProductSold = @ProductSold OUTPUT,
			@ErrorCode = @LocalErrorCode OUTPUT,
			@Message = @LocalMessage OUTPUT;
			SET @LocalErrorCode = @LocalErrorCode + ' ' + Cast(@LocalErrorCode as Nvarchar(40));
			SET @LocalMessage =  @LocalMessage + '; ' + IsNull(@LocalMessage,' Sold ');

		EXEC [dbo].[ProductBoughtSinceLastStockTake]
			@ProductID = @ProductID,
	
			@LocalID =@LocalID,
			@ProductBoughtSinceLastStockTake = @LocalProductBought OUTPUT,
			@ErrorCode = @LocalErrorCode OUTPUT,
			@Message = @LocalMessage OUTPUT;
			SET @ProductBoughtSinceLastStockTake = IsNull(@LocalProductBought,0);
			SET @LocalErrorCode = @LocalErrorCode + ' ' + Cast(@LocalErrorCode as Nvarchar(40));
			SET @LocalMessage =  @LocalMessage + '; ' + IsNull(@LocalMessage,' Bought ');

		Declare @LocalProductID as int = 0;

		Exec dbo.ProductAllocated
			@ProductID = @ProductID,
			@LocalProductID = @LocalProductID OUTPUT,
			@LocalAllocatedProduct = @LocalAllocatedProduct OUTPUT,
			@LocalErrorCode= @LocalErrorCode OUTPUT,
			@LocalMessage=@LocalMessage;

	--The formula for ProductAvailableToSell is:
	
	--Quantity On Hand from most recent StockTake
	--Plus Quantity Bought Since Last StockTake
	--Minus Quantity Sold Since Last StockTake
	--Minus Quantity Allocated on Unshipped Orders

	 Set @LocalProductAvailableToSell = 
		 IsNull(@LastStockTakeQOH,0) + 
		 IsNull(@ProductBoughtSinceLastStockTake,0) -
		 IsNull(@ProductSold,0) -
		 IsNull(@LocalAllocatedProduct,0);
	
	 	IF @LocalErrorCode= 0
			BEGIN
				SET @ErrorCode = @LocalErrorCode;
				SET @Message = @LocalMessage;
			END
		ELSE
			BEGIN
				EXEC CustomErrorMessage
					@SysErrorCode = @LocalErrorCode,
					@CurrentObject = 'Orders',
					@CustomErrorCode = @CustomErrorCode OUTPUT,
					@CustomErrorMessage = @CustomErrorMessage OUTPUT;
				SET @ErrorCode = @CustomErrorCode;
				SET @Message = @CustomErrorMessage;
			END
	End Try
	BEGIN Catch
		SET @LocalErrorCode = ERROR_NUMBER();
		SET @LocalMessage = ERROR_MESSAGE();
	END Catch
END
