USE [DB_48163_nwpa]
GO
/****** Object:  StoredProcedure [dbo].[ProductReorderQuantity]    Script Date: 7/16/2025 12:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
Author:		 George Hepworth
Create date: 4/22/2025
Update Date: 7/15/2025
Description: Calculate the desired minimum Reorder and other inventory amounts
               for one product
=============================================
*/
ALTER PROCEDURE [dbo].[ProductReorderQuantity]
	@ProductID as int =0,

	@ProductReorderQuantity as int OUTPUT, -- Calculated
	@ProductOnOrder as int OUTPUT,  --Retrieved by helper sp
	@ProductAvailableToSell as int OUTPUT, --Retrieved by helper sp
	@ProductAllocated as int OUTPUT, --Retrieved by helper sp
	@ProductNoStock as int OUTPUT, --Retrieved by helper sp
	@ReorderLevel as int OUTPUT, --Retrieved by helper sp
	@MinReOrder as int OUTPUT, --Retrieved by helper sp
	@ProductTargetLevel as int OUTPUT, --Retrieved by helper sp
	@UnifiedID as int OUTPUT,	 --Used for Error Handling
	@ErrorCode as int OUTPUT, --Used for Error Handling
	@Message as nvarchar(400) OUTPUT --Used for Error Handling
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN Try
		Declare  			
			@LocalProductNoStock as int,
			@LocalID as int,
			@LocalProductOnOrder as int,
			@LocalProductAvailableToSell as int,
			@LocalProductAllocated as int,
			@LastStockTakeDate as date,
			@LocalLastStockTakeDate as date,
			@LocalLastStockTakeQOH as int,
			@LastStockTakeQOH as int,
			@QTYAvailable as int,
			@LocalErrorCode as int,
			@LocalMessage as NvarChar(400),
			@CustomErrorCode as int,
			@CustomErrorMessage as NVarChar(400);
		
		BEGIN
			EXEC [dbo].[ProductLastStockTakeDateQOH]
				@ProductID =@ProductID,
				@LocalID =@ProductID,
				@LastStockTakeDate = @LastStockTakeDate OUTPUT, -- Last (most recent) StockTake date for this product
				@LastStockTakeQOH =@LastStockTakeQOH output, -- Last (most recent) StockTake quantity on hand for this product
				@LocalErrorCode=@LocalErrorCode,
				@LocalMessage = @LocalMessage

				SET @LastStockTakeDate =@LocalLastStockTakeDate;
				SET @UnifiedID = @ProductID ;	 
				SET @ErrorCode = @LocalErrorCode ;
				SET @Message = @LocalMessage ;
	
			EXEC dbo.ProductNoStock
				@ProductID   = @ProductID,
				@LocalProductNoStock = @LocalProductNoStock OUTPUT, -- Quantity of this product in "No Stock" status on open Orders
				@LocalID = @LocalID OUTPUT,	 
				@LocalErrorCode = @LocalErrorCode OUTPUT,
				@LocalMessage = @LocalMessage OUTPUT

				SET @ProductNoStock = @LocalProductNoStock;
				SET @UnifiedID = @ProductID ;	 
				SET @ErrorCode = @LocalErrorCode ;
				SET @Message = @LocalMessage ;
		END
		BEGIN
			EXEC [dbo].[ProductOnOrder]
				@ProductID = @ProductID,
				@LocalID = @LocalID OUTPUT,
				@LocalProductOnOrder = @LocalProductOnOrder OUTPUT,   -- Quantity of this product in "On Order" status on open Orders
				@LocalErrorCode = @LocalErrorCode  OUTPUT,
				@LocalMessage = @LocalMessage  OUTPUT
				
				SET @ProductOnOrder = @LocalProductOnOrder;
				SET @UnifiedID = @ProductID ;	 
				SET @ErrorCode = @LocalErrorCode ;
				SET @Message = @LocalMessage ;
		END	
		--An example of encapsulation and singularity of purpose: ProductAvailable and ProductAllocated
		--I decoupled the ProductAllocated sub procedure from ProductAvailable and call both where needed in this procedure.
		--The stored procedure "ProductAllocated" (run next in this sequence) is also called inside ProductAvailable 
		--  where it is needed for that calculation as well.
		--I also call ProductAllocated in this level where it is used 
		BEGIN
			EXEC [dbo].ProductAvailable
				@ProductID = @ProductID,
				@CurrentOrder = 0,
				@LastStockTakeQOH = 0  ,
				@ProductBoughtSinceLastStockTake = 0 ,
				@ProductSold = 0 ,
				@LocalProductAvailableToSell = @LocalProductAvailableToSell OUTPUT,
				@AvailableProductID  = 0  ,

				@LocalErrorCode = @LocalErrorCode OUTPUT,
				@LocalMessage =@LocalMessage OUTPUT 

				SET @ProductAvailableToSell =IsNull(@LocalProductAvailableToSell,0);
				SET @UnifiedID = @ProductID ;	 
				SET @ErrorCode = @LocalErrorCode ;
				SET @Message = @LocalMessage ;
		END
		--An example of encapsulation and singularity of purpose: ProductAvailable and ProductAllocated
		--I decoupled the ProductAllocated sub procedure from ProductAvailable and call where needed in this procedure.
		--The stored procedure "ProductAllocated"  is also called inside ProductAvailable (above) 
		--  where it is needed for that calculation
		--But I also call ProductAllocated in this level where it is used 
		BEGIN
			EXEC dbo.ProductAllocated
				@ProductID= @ProductID,
				@LocalProductID = @ProductID OUTPUT,
				@LocalAllocatedProduct = @LocalProductAllocated OUTPUT;

				SET @ProductAllocated =IsNull(@LocalProductAllocated,0);
				SET @UnifiedID = @ProductID ;	 
				SET @ErrorCode = @LocalErrorCode ;
				SET @Message = @LocalMessage ;
		END
		--With the dynamic components of the calculation gathered, it's time to put them to work with the static components from the table
		--Retrieve the defaults for Minimum Reorder Quantity, Target Level and Reorder Level from the Products table itself
		BEGIN
			SELECT	@MinReOrder = IsNull(MinimumReorderQuantity,0),
					@ProductTargetLevel = IsNull(TargetLevel,0),
					@ReorderLevel= IsNull(ReorderLevel,0)
			FROM Products 
			WHERE ProductID =@ProductID;
		END
		--Calculate the default quantity to reorder based on the following logic
		BEGIN
			-- Product in the warehouse + product on a truck coming in compared to Product on Orders with no stock to fill them + our Target Level
			IF	(IsNull(@ProductAvailableToSell,0) + IsNull(@ProductOnOrder,0)) > (@ProductNoStock + @ProductTargetLevel)
				--We dont need to order anything; publish the default minimum reorder quantity for the Product in the next step.
				SET @ProductReorderQuantity = @MinReOrder 
			ELSE
				--We do need to reorder. How Much? 
				--(Product on Orders with no stock to fill them + our Target Level) - (Product available in the warehouse + product on a truck coming in
				SET @ProductReorderQuantity = (@ProductNoStock + @ProductTargetLevel) - (IsNull(@ProductAvailableToSell,0) + IsNull(@ProductOnOrder,0))
				--But! Order at least the minimum reorder quantity
			If  @MinReOrder > @ProductReorderQuantity
			    --Although we currently need less than the minimum reorder quantity; use the minimum reorder quantity.
				SET @ProductReorderQuantity = @MinReOrder
		END
		SET @UnifiedID = @ProductID ;	 
		IF @LocalErrorCode= 0
			BEGIN
				SET @ErrorCode = @LocalErrorCode;
				SET @Message = @LocalMessage;
			END
		ELSE
			BEGIN
				EXEC CustomErrorMessage
					@SysErrorCode = @LocalErrorCode,
					@CurrentObject = 'Orders',
					@CustomErrorCode = @CustomErrorCode OUTPUT,
					@CustomErrorMessage = @CustomErrorMessage OUTPUT;
				SET @ErrorCode = @CustomErrorCode;
				SET @Message = @CustomErrorMessage;
			END
	END Try
	BEGIN Catch
		SET @UnifiedID = @ProductID ;	 
		SET @ErrorCode = ERROR_NUMBER() ;
		SET @Message = ERROR_MESSAGE() ;

		SET @ProductReorderQuantity=0;
	END Catch
END
