USE [DB_48163_nwpa]
GO
/****** Object:  StoredProcedure [dbo].[ProductAllocated]    Script Date: 7/16/2025 2:35:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
=============================================
Author:		 George Hepworth
Create date: 2025-03-18
Description: Number of items allocated 
			   in one or more purchase orders
=============================================
*/
ALTER PROCEDURE [dbo].[ProductAllocated] 
	@ProductID as int = 0, 

	@LocalProductID as int OUTPUT,
	@LocalAllocatedProduct  as int = 0 OUTPUT,
	@LocalErrorCode AS int = 0 OUTPUT,
	@LocalMessage AS nvarchar(400) = 'Success' OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN Try
		SELECT @LocalAllocatedProduct =  IsNull(Sum(Quantity),0)
		FROM OrderDetails
		WHERE ProductID = @ProductID and orderdetails.OrderDetailStatusID=1 ;
		SET @LocalProductID= @ProductID;
		SET	@LocalErrorCode = 0;
		SET	@LocalMessage ='Product Allocated';
	END Try
	BEGIN Catch
		SET @LocalProductID= @ProductID;
		SET	@LocalAllocatedProduct = 0;
		SET @LocalErrorCode = ERROR_NUMBER();
		SET @LocalMessage = ERROR_MESSAGE();
	END Catch
END
